.container
{
	width:100%;
	margin:auto;
color:white;
z-index: 10;
}
.container1
{

	background-color:white;
color:black;
	margin-right:10%;
margin-top:4%;
margin-left:-2.5%;
	text-align:center;
margin-bottom: 1%;
opacity: 0.7;

}
.container6
{

	margin-right:10%;
margin-top:4%;
margin-left:-2.5%;
	text-align:center;
margin-bottom: 1%;
min-height: 200px;
opacity: 0.7;
font-size: 30px;

}
.container_space
{
	margin-right:10%;
margin-top:20%;
margin-left:-2.5%;
	text-align:center;
margin-bottom: 1%;
}
.container2
{

	background-color:#0e4c92;
color:black;
	margin-right:10%;
margin-top:4%;
margin-left:-2.5%;
	text-align:center;
margin-bottom: 1%;
opacity: 0.8;
}
.container3
{

	background-color:#4d516d;
color:black;
	margin-right:10%;
margin-top:11%;
margin-left:-2.5%;
margin-bottom: 1%;
opacity: 0.8;
}
.container4
{

	background-color:#5097a4;
color:black;
	margin-right:10%;
margin-top:4%;
margin-left:-2.5%;
	text-align:center;
margin-bottom: 1%;
opacity: 0.8;

}
.container4
{

	background-color:#0f52ba;
color:black;
	margin-right:10%;
margin-top:1%;
margin-left:-2.5%;
	text-align:center;
margin-bottom: 1%;
opacity: 0.8;

}
.container5
{

	background-color:#7285a5;
color:black;
	margin-right:10%;
margin-top:1%;
margin-left:-2.5%;
margin-bottom: 1%;
opacity: 0.8;

}
#image
{
opacity: 1.0;
margin-right:15%;
width: 60%;
height: 70%;
margin-top:1%;
margin-left:18%;
	text-align:center;
	}
#image1
{
opacity: 1.0;
margin-right:15%;
width: 80%;
height: 260%;
margin-top:5%;
margin-left:1%;
margin-bottom: 5%;
	text-align:center;
	}
#image2
{
opacity: 1.0;
margin-right:15%;
width: 80%;
height: 900%;
margin-top:10%;
margin-left:1%;
margin-bottom: 5%;
	text-align:center;
	}
body
{
	font:15px/1.5 Arial,Helvetica,sans-serif;
	padding:0;
color:#7df9ff;
margin-left:12%;
margin-right:12%;
padding-left:0;
}
header
{
	background-color: black;
opacity:0.8;
	color:#7df9ff;
	padding-top:30px;
	min-height:150px;
}
#navy ul
{
	margin:0 auto;
	padding:0;
	width: 100%;
}
#navy
{
	background-color:#708090;
	padding-top:10px;
	padding-left:2%;
	padding-right:2%;
	margin-left:10%;
	margin-right:10%;
	text-align:justify;
	min-width: 500px;
	min-height:50px;
}
#navy a{
	color:black;
	text-decoration:none;
	font-size:15px;
}
#navy li{
	
	float:left;
	display:inline-block;
	padding:0 20px 0 20px;
	width: 16%;
}
#navy1 ul
{
	margin:0 auto;
	padding:0;
	width: 100%;
}
#navy1
{
	background-color:#708090;
	padding-top:10px;
	padding-left:2%;
	padding-right:2%;
	margin-left:10%;
	margin-right:20%;
	text-align:justify;
	min-width: 500px;
	min-height:50px;
}
#navy1 a{
	color:black;
	text-decoration:none;
	font-size:15px;
}
#navy1 li{
	
	float:left;
	display:inline-block;
	padding:0 20px 0 20px;
	width: 8%;
}